#!/bin/bash
# This script will register the ossec-client on the ossec-server

cat > ossec_agent_input.txt <<EOF
A
{% for host in groups['ossec-client'] %}
    {{ inventory_hostname }}
{% endfor %}
{% for host in groups['ossec-client'] %}
    {{ ansible_ssh_host }}
{% endfor %}

y
Q
EOF

/var/ossec/bin/manage_agents < ossec_agent_input.txt

#rm -f ossec_agent_input.txt

exit 0
