# Thanks to Will Sher https://github.com/willshersystems/ansible-users
---
- name: Load OS specific values
  include_vars: "{{ ansible_os_family }}.yml"
  with_first_found:
   - "{{ ansible_distribution }}.yml"
   - "{{ ansible_os_family }}.yml"
   - default.yml
#   - ec2hosts.accounts.yaml  
#- include_vars: ../../../group_vars/ec2hosts.accounts

- include: add_groups.yml

- include: users.yml

- include: remove_groups.yml

- include: ssh_keys.yml

- include: sudo.yml
