
############################################################################

# DevOps jump server
#	#ProxyCommand ssh -T -a jumptest-1 nc $(echo %h |cut -d+ -f2) %p 2>/dev/null
#	ProxyCommand ssh -T -a jumptest-1 nc %h %p 2>/dev/null

Host bastiona
	Hostname 52.5.26.226
	User jaytischler
        Port 22

Host bastionb
	Hostname 52.7.182.2
	User jaytischler

## DevOps bastion-A shortcut
Host ip-*.ec2.internal
#Host 10.1.*
        #ProxyCommand ssh -T -a bastiona  nc $(echo %h |cut -d+ -f2) %p 2>/dev/null
	ProxyCommand ssh -T -a bastiona nc %h %p 2>/dev/null

# DevOps private dev test
#Host ip-*.ec2.internal
#	ProxyCommand ssh -T -a devops-jump nc $(echo %h |cut -d+ -f2) %p 2>/dev/null
